<?xml version='1.0'?>
<model>
  <name>Dewalt DCD980M2</name>
  <version>0.1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Alberto Romay</name>
    <email>romay@sim.tu-darmstadt.de</email>
  </author>

  <description>
    This model approximates the Dewalt Drill DCD980M2.
  </description>
</model>
